---
// src/components/Navigation.astro
import { navlinks, navlinkItem } from "../styles/styles";

interface Props {
  lang?: 'he' | 'en';
  overrideClass?: string;
  containerClass?: string;
}

const { lang = 'he', overrideClass, containerClass } = Astro.props;

const container = containerClass ?? navlinks;
const linkClass = overrideClass ?? navlinkItem;

const texts = {
  he: {
    home: 'עמוד הבית',
    about: 'אודות',
 
    graffiti: "סיורי גרפיטי ואמנות רחוב",
        food: "סיורי טעימות",
    culture: "סיורי שכונות, היסטוריה ותרבות",
    contact: 'צרו קשר',
    recs: 'המלצות',
  },
  en: {
    home: 'Home',
    about: 'About',
 graffiti: "Graffiti and Street Art Tours",
        food: "Food Tours",
    culture: "Local History and Culture Tours",
    contact: 'Contact Us',
    recs: 'Recommendations',
  }
};

const t = texts[(lang as 'he'|'en')];
---

<div id="navlinks" class={container} dir={lang == 'he' ? 'rtl' :'ltr'}>
      <a href=`/${lang}/contact/` class={linkClass}>{t.contact}</a>

  <a href=`/${lang}/about/` class={linkClass}>{t.about}</a>
    <a href=`/${lang}/graffiti-tours/` class={linkClass}>{t.graffiti}</a>
  <a href=`/${lang}/food-tours/` class={linkClass}>{t.food}</a>
    <a href=`/${lang}/culture-tours/` class={linkClass}>{t.culture}</a>
      <a href=`/${lang}/` class={linkClass}>{t.home}</a>


</div>

