---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SectionItem, RoundButton } from "../../components/ui";
import Glider from "../../components/Glider";
import RecommendationsCarousel from "../../components/Carousel";
import { ContactForm } from "../../components/ui";

export function getStaticPaths() {
  return [
    { params: { lang: "he" } },
    { params: { lang: "en" } },
  ];
}

interface Params {
  lang: "he" | "en";
}

const { params } = Astro;
const lang = (params as Params).lang;
const t = {
  he: {
    pageTitle: "עמוד הבית",
    heroTitle: "רועי דדו",
    subtitle: "סיורים בתל אביב",
    aboutTitle: "אודות",
        aboutButton: "עוד עליי",

    graffiti: "סיורי גרפיטי ואמנות רחוב",
        food: "סיורי טעימות",
    culture: "סיורי שכונות, היסטוריה ותרבות",
    servicesButton: "לפרטים נוספים",

    recommendations: "המלצות",
  },
  en: {
    pageTitle: "Home Page",
    heroTitle: "Roey Dado",
    subtitle: "Tel Aviv Tours",
    aboutTitle: "About",
    aboutButton: "Learn More",
    graffiti: "Graffiti and Street Art Tours",
        food: "Food Tours",
    culture: "Local History and Culture Tours",

    servicesText: "Adventures and Experiences for Everyone",
    servicesButton: "More Info",

    recommendations: "Recommendations",
  },
}[lang];

const sections = ["hero","culture", "food", "graffiti",  "recs", "about","contact"];
---

<BaseLayout pageTitle={t.pageTitle} lang={lang}>
<Glider client:load lang={lang} sections={sections}>

    <!-- Hero -->
    <section id="hero" class="relative w-full  flex items-center justify-center overflow-hidden">
      <div class="absolute inset-0 bg-gradient-to-b from-transparent" />
      <div class="relative z-10 flex flex-col items-center text-center gap-6 px-4">
          <div
      class={`flex items-center justify-center gap-6 flex-row-reverse`}
    >
        <img src="/logo trans.png" alt="Logo" class="w-40 md:w-60" />
              <div class="flex flex-col">

        <h1 class="text-[#F8FCFE] text-4xl md:text-6xl font-bold drop-shadow-lg">{t.heroTitle}</h1>
        <h3 class="text-[#F8FCFE] text-2xl md:text-3xl font-bold drop-shadow-lg">{t.subtitle}</h3>
        </div>
        </div>
        <div class="flex flex-wrap justify-center gap-4 mt-4">
          <RoundButton text="/facebook.svg" href="https://www.facebook.com/roey.dado" />
          <RoundButton text="/Digital_Glyph_Black.svg" href="https://wa.me/972545822811" />
          <RoundButton text="/email.svg" href="mailto:roeydado@gmail.com" />
        </div>
      </div>
    </section>

    <!-- Tours -->
    <section id="graffiti" class="w-full flex justify-center">
      <SectionItem
        title={t.graffiti}
        imageSrc="/rd.png",
           buttonText={t.servicesButton}
        buttonHref={`/${lang}/graffiti-tours`}
        lang={lang}
      />
    </section>

    <!-- Food -->
    <section id="food" class="w-full flex justify-center ">
      <SectionItem
        title={t.food}
        imageSrc="/rd.png"
        buttonText={t.servicesButton}
        buttonHref={`/${lang}/food-tours`}
        lang={lang}
      />
    </section>

    <!-- About -->
    <section id="culture" class="w-full flex justify-center ">
      <SectionItem
        title={t.culture}
        imageSrc="/rd.png"
        buttonText={t.servicesButton}
        buttonHref={`/${lang}/culture-tours`}
        lang={lang}
      />
    </section>



    <!-- Recommendations -->
    <section id="recs" class="py-10 w-full">
      <h2 class="text-3xl font-bold text-center mb-8 text-[#F8FCFE]">
        {t.recommendations}
      </h2>
      <RecommendationsCarousel client:only="react" lang={lang} />
    </section>

    <!-- about -->
    <section id="about" class="w-full flex justify-center ">
      <SectionItem
        title={t.aboutTitle}
        imageSrc="/rd.png"
        imageAlt="תמונה לדוגמה"
        buttonText={t.aboutButton}
        buttonHref={`/${lang}/about`}
        lang={lang}
      />
    </section>
    <section id="contact" class="max-w-xl mx-auto px-4 py-12">
    <ContactForm  lang={lang} client:only="react" />
  </section>
  </Glider>
</BaseLayout>
